/* Color Theme Swatches in Hex
.color-theme__119721338_gettyimages-113494602-1-hex { color: #131A40; }
.color-theme__119721338_gettyimages-113494602-2-hex { color: #273273; }
.color-theme__119721338_gettyimages-113494602-3-hex { color: #4E64A6; }
.color-theme__119721338_gettyimages-113494602-4-hex { color: #829FD9; }
.color-theme__119721338_gettyimages-113494602-5-hex { color: #99B7F9; }
*/

@charset 'UTF-8';


body{
    background-color: #131A40;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}


header{
    text-align: center;
    background-color: aliceblue;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    border: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404)
}

.cabeca{
    display: inline-block;
    margin: 10px;

}

.eventos{
    display: inline-block;
    margin: 10px auto 10px auto;
    background: #4E64A6;
    border-radius: 10px;
    padding: 15px;
    max-height: 300px;
    max-width: 450px;
    border: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);

    text-align: justify;
    font-size: 1.2em;
    color: black;
}
section > h1{
    font-size: 2em;
    text-align: center;
    background: #99B7F9;
    color: #131A40;
    margin: auto;

    max-width: 300px;
    border-radius: 10px;
    padding: 15px;
    max-height: 300px;
    border: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);

}