/* Color Theme Swatches in Hex
.color-theme__119721338_gettyimages-113494602-1-hex { color: #131A40; }
.color-theme__119721338_gettyimages-113494602-2-hex { color: #273273; }
.color-theme__119721338_gettyimages-113494602-3-hex { color: #4E64A6; }
.color-theme__119721338_gettyimages-113494602-4-hex { color: #829FD9; }
.color-theme__119721338_gettyimages-113494602-5-hex { color: #99B7F9; }
*/

@charset 'UTF-8';


body{
    background-color: #131A40;
    font: normal 1em 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    max-height: 800px;

    background-color: #273273;
    margin: 5px;
    border-radius: 10px;
    padding: 15px;
    border: 5px;
    box-shadow: 5px 5px 10px #27327359;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    
    text-align: center;
    color: rgba(240, 248, 255, 0.247);
}

section#avisos{
    background-color: #4E64A6;
    margin: 5px;
    border-radius: 10px;
    padding: 15px;
    border: 5px;
    box-shadow: 5px 5px 10px #27327359;
}

section#ti{
    background-color: #829FD9;
    margin: 5px;
    border-radius: 10px;
    padding: 15px;
    border: 5px;
    box-shadow: 5px 5px 10px #27327359;
}

section#colaboradores{
    display: flex;
    justify-content: center;
}

.nometi{
    padding: 5px;
    margin: 0px;
}

.pstatus{
    padding: 5px;
    margin: 0px;
}

.basesuperior{

    background-color: #4E64A6;
    width: 170px;
    height: 230px;
    margin: 10px auto 0px auto;
    border-radius: 10px;
    border: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
    text-align: center;
    
    font-size: 1.2em;
    color: #1f1f1f;

}

.baseinferior{

    background-color: #4E64A6;
    height: 65px;
    width: 170px;
    border-radius: 10px;
    border: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
    text-align: center;
    margin: 10px auto 0px auto;

    font-size: 1.2em;
    color: #1f1f1f;

}

.titleti{
    font-size: 2em;
    text-align: center;
    background: #f0f8ff;
    color: #1f1f1f;
    margin: auto;

    max-width: 200px;
    border-radius: 10px;
    padding: 15px;
    max-height: 300px;
    border: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
}

.avisostitle{
    font-size: 2em;
    text-align: center;
    background: #f0f8ff;
    color: #ff0404;
    margin: auto;

    max-width: 200px;
    border-radius: 10px;
    padding: 15px;
    max-height: 300px;
    border: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
}

.avisos{
    background: #f0f8ff;
    margin: 10px auto;
    border-radius: 10px;
    padding: 15px;
    max-height: 300px;
    border: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);

    text-align: center;
    font-size: 1.2em;
    color: #1f1f1f;
}

.titleeventos{
    font-size: 2em;
    text-align: center;
    background: #f0f8ff;
    color: #1f1f1f;
    margin: auto;

    max-width: 300px;
    border-radius: 10px;
    padding: 15px;
    max-height: 300px;
    border: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);

}

.ajusteseceventos{
    margin: 5px;
}

.eventos{

    background: #f0f8ff;
    margin: 10px auto;
    border-radius: 10px;
    padding: 15px;
    max-height: 300px;
    max-width: 450px;
    border: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);

    text-align: justify;
    font-size: 1.2em;
    color: #1f1f1f;
}

.ajustecolaboradores{
    margin: 5px;
}


